/* STYLES.CSS */
Body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #fff;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3.5rem;
  margin: 0;
}

h1.alt {
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin: 0;
}

h2.alt {
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.5rem;
  margin: 0;
  line-height: 1.75rem;
}

h4 {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
}

h5 {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
}

p {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

figure {
  padding: 0;
  margin: 0;
}

/* MODIFIERS*/
.slab {
  font-family: 'Roboto Slab', serif !important;
}

/*********** HOMEPAGE **********/

/* HERO CELL */
#hero-cell {
    background-image: url(../images/hero_background.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 800px;
}

nav {
  padding: 20px;
}

nav div {
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  padding-top: 8px;
}

nav ul a{
  color: #00cc99;
  text-decoration: none;
}

.header-logo {
  height: 30px;
}

.top-hp-link a:hover {
  color: #fff;
}

.top-nav-btn a:hover {
  background-color: rgba(0,0,0,.75);
}

nav li {
  display: inline-block;
  padding:0 15px;
}

nav li:last-child {
  padding-right: 0;
}

nav .top-nav-btn a {
  color: #fff;
  text-decoration: none;
  padding: 5px 30px;
  border: 2px solid #00cc99;
  border-radius: 4px;
}

.hero-content {
  margin-left: 55%;
  margin-top: 10%;
}

.hero-content h1 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.hero-content h3 {
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
}

.hero-content button {
  background-color: transparent;
  border: 2px solid #00cc99;
  padding: 15px 60px;
  border-radius: 4px;
}

.hero-content button:hover, .hero-content button:active, .hero-content button:focus  {
  background-color: rgba(0,0,0,.5);
}

.hero-content button a {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
}

/* FEATURES */

#feature-cell div:first-child, #feature-cell div:nth-child(3) {
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 110px 60px 120px 0;
}

#feature-cell div:first-child {
  background-image: url(../images/feature1.png);
  background-size: cover;
}

#feature-cell div:nth-child(3) {
  background-image: url(../images/feature3.png);
  background-size: contain;
}

#feature-cell div:first-child h2, #feature-cell div:first-child h3, #feature-cell div:nth-child(3) h2, #feature-cell div:nth-child(3) h3 {
  font-weight: 300;
  margin-left: 55%;
}

#feature-cell div:nth-child(2) {
  background-image: url(../images/feature2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-color: #fff;
  padding: 150px 0 150px 60px;
}

#feature-cell div:nth-child(2) h2, #feature-cell div:nth-child(2) h3 {
  font-weight: 300;
  margin-right: 55%;
  text-align: right;
}

/* TESTIMONIALS*/

#testimonials-cell p:first-child {
  text-align: center;
  background-color: #000;
  color: #00cc99;
  padding: 20px;
  margin: 0;
}

.testimonials-meet {
  display: inline-flex;
  justify-content: space-between;
  height: 450px;
  padding: 0;
  margin: 0;
}

.testimonials-quote {
  padding: 15px 40px 25px;
  height: 90px;
  margin-top: 320px;
}

.testimonials-quote h4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 10px;
  /*transform: skewX(4deg);*/
}

.testimonials-quote p {
  background-color: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  /*transform: skewX(4deg);*/
}

.testimonials-left {
  background-image: url(../images/stellab.jpg);
  background-position-x: right;
  background-size:cover;
  background-repeat: no-repeat;
  height:450px;
  margin-right: 0;
  width: 50%;
  /*transform: skewX(-4deg);
  transform-origin: top;*/
}

.testimonials-spacer {
  height:auto;
  width: 30px;
  position: absolute;
  right: 50%;
  z-index: 1;
  height: 450px;
  background-color: #fff;
    transform: skewX(-4deg);
    margin: 0 -12px;
}

.testimonials-right {
  background-image: url(../images/masonm.jpeg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 50%;
}

.testimonials-quote {
  background: rgba(0,0,0,.75); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0,0,0,.75),rgba(74,74,74,.75)); /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba(0,0,0,.75),rgba(74,74,74,.75)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba(0,0,0,.75),rgba(74,74,74,.75)); /*Fx 3.6-15*/
  background: linear-gradient(rgba(0,0,0,.75),rgba(74,74,74,.75)); /*Standard*/
  color: #fff;
}


/* PRICING */

#pricing-cell h4 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 30px 0 20px;
  text-align: center;
}

#pricing-cell h5 {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

#pricing-cell p {
  font-size: .9rem;
  text-align: center;
  padding: 15px 20px 35px;
}

.pricing-plans {
  display: block;
  text-align: center;
}

.plan-casual, .plan-pro, .plan-business {
  width: 25%;
  margin: 0 2%;
  border: 1px solid #cdcdcd;
  display: inline-block;
  vertical-align: top;
  box-shadow: 4px 4px 7px #cdcdcd;
}

.plan-casual, .plan-business {
  height: auto;
  margin-top: 30px;
}

.plan-pro {
  height: auto;
}

#pricing-cell .pricing-plans h4 {
  background-color: #272727;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#pricing-cell .pricing-plans h2 {
  color: #272727;
  padding: 20px 0 10px;
  text-align: center;
  font-size: 3.5rem;
}

#pricing-cell .plan-casual h2 {
  font-size: 3rem;
}

#pricing-cell ul li {
  list-style: none;
  padding: 20px 0;
  text-align: center;
}

#pricing-cell .plan-business ul li {
  padding: 13px 0;
}

.pricing-cta button {
  background-color: #00cc99;
  border: none;
  padding: 10px 10%;
  margin: 20px 0 30px;
}

.plan-pro .pricing-cta button {
  margin: 50px 0 30px;
}

.pricing-cta button a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
}

.pricing-cta button:hover {

  background-color: #272727;
}

.pricing-cta {
  text-align: center;
}

.plan-casual .pricing-cta {
  padding-top: 12px;
}



/* FOOTER */

footer {
  width: 100%;
  background-color: #272727;
  text-align: center;
  height: 80px;
}

footer .footer-logo, footer .footer-main {
vertical-align: top;
padding: 20px 20px 10px;
}

.footer-logo {
  position: absolute;
}

footer p {
  color: #00cc99;
  font-weight: 700;
}

.footer-main a {
  color: #fff;
  font-weight: 400;
  padding:0 10px;
  border-right: 2px solid #00cc99;
}

.footer-main a:hover {
  color: #999999;
}

.footer-main a:last-child {
  border-right: 0;
}

.copyright p {
  font-weight: 400;
  font-size: .8rem;
}


/**************** DASHBOARD **************/
#side-nav {
  width: 16.66667%;
  max-width: 250px;
  background-color: #272727;
  display: block;
  float: left;
  padding-bottom: 100%;
  height: 100%;
  position: fixed;
}

#side-nav .header-logo {
  height: 30px;
  padding: 20px 20px 30px;
}

#side-nav .drives {
  height: auto;
  position: relative;
  bottom: 0;
  padding-left: 20px;
}

#side-nav .drives h5 {
  font-size: 1.25rem;
  padding-bottom: 10px;
  color: #00cc99;
}

.drives li a {
  padding-right: 10px;
  font-size: .9rem;
}

.drives li a i {
  padding-right: 10px;
}

#side-nav ul li{
  padding: 3px 5px 3px 0;
  list-style: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #999;

}

#side-nav ul li a {
  color: #999999;
}

#side-nav .dropdown button {
  width: 16.6667%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #4a4a4a;
  color:#00cc99;
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 250px;
  border: 0;
  padding: 0;
}

#side-nav .dropdown button:active, #side-nav .dropdown button:focus, #side-nav .dropdown button:hover {
  outline: none;
}

#side-nav .dropdown button img {
  height: 35px;
  border-radius: 50%;
  padding: 10px 10px;
  z-index: 1;
}

#side-nav .dropdown button p {
  margin: auto 0;
  padding-right: 15px;
  font-size: .8rem;
  color: #00cc99;
  height: 100%;

}

#side-nav .dropdown button i {
  padding-left: 10px;
  font-size: 1rem;
  position: relative;
  top: 1px;
}


  .dropbtn {
      background-color: #4CAF50;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
      background-color: #3e8e41;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: fixed;
      bottom: 55px;
      width: 16.6667%;
      max-width: 250px;
      background-color: #4a4a4a;
      overflow: auto;
      z-index: 1;
  }

  .dropdown-content a {
      color: #999999;
      padding: 10px;
      font-size: .8rem;
      border-bottom: 1px solid #272727;
      text-decoration: none;
      display: block;
  }

  #myDropdown i.fa {
      padding-right: 11px;
  }

  .dropdown a:hover {background-color: #f1f1f1}

  .dropdown-content.show {display:block !important;}

.hamburger {
  display: none;
}

#dash-content {
  margin-left: 16.66667%;
}

#dash-content .dash-search-add {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#dash-content .dash-search {
  width: 80%;
  display: inline-block;
}

#dash-content .dash-search button {
  background-color: #00cc99;
  border: none;
  padding: 9px 10px;
}

#dash-content .dash-search button a {
  color: #fff;
}

#dash-content .dash-search-add input {
  border: 1px solid #cdcdcd;
  padding: 8px 15px;
  width: 50%;
}

#dash-content .add-dropdown {
  display: inline-block;
  position: relative;
  width: 17%;
}

#dash-content .add-dropdown button {
  background-color: #00cc99;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 9px;
}

#dash-content .add-dropdown button:focus {
  outline: none;
}

#dash-content .add-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  text-align: left;
}

#dash-content .add-dropdown .dropdown-content i {
  padding-right: 10px;
}

#dash-content .add-dropdown .dropdown-content a {
  color: #999999;
  display: block;
  padding:9px 15px;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

#dash-content .add-dropdown:hover .dropdown-content, #dash-content .add-dropdown:focus .dropdown-content, #dash-content .add-dropdown:active .dropdown-content {
  display: block;
  outline: none;
}

#dash-content .content-sort {
  display: flex;
  justify-content: space-between;
  padding:0 20px;
}

#dash-content .content-sort .sort-buttons {
  position: relative;
}

#dash-content .content-sort h3 {
  display: inline;
  color: #00cc99;
  font-weight: 400;
}

#dash-content .content-sort .sort-buttons h3 a {
  color: #00cc99;
  margin-left: 5px;
}

#dash-content .content-sort .sort-buttons h3:nth-child(3) {
border-right: 1px solid #00cc99;
margin-right: 5px;
padding-right: 5px;
}

#dash-content .content-main {
  padding-right: 20px;
}

#dash-content .content-main .content-cell {
  width: 250px;
  height: 250px;
  display:inline-block;
  box-shadow: 2px 2px 5px #cdcdcd;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  margin: 20px 0 0 20px;
  vertical-align: top;
}

#dash-content .content-main .content-img {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-repeat: none;
}

#dash-content .content-cell .content-link {
  width: 250px;
  height: 250px;
  display: inline-block;
  vertical-align: top;
}

#dash-content .content-cell .content-link img {
  width: 16px;
  display: inline;
  padding: 15px 5px 0 15px;
}

#dash-content .content-cell .content-link h4 {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-top: 17px;
  color: #3d3d3d;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 75%;
  width: -webkit-fill-available;
}

#dash-content .content-cell .content-link h6 {
  font-size: .8rem;
  width: -webkit-fill-available;
  color: #999999;
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
  margin:0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#dash-content .content-cell .content-note h4 {
  font-size: 1.25rem;
  font-weight: 400;
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  color: #3d3d3d;
  text-overflow: ellipsis;
}



 @media (max-width: 1200px) {

   h1 {
    font-size: 2.8rem;
   }

   h2.alt {
     font-size: 2rem;
   }

   h3 {
     font-size: 1.1rem;
   }

   #hero-cell {
     height: 600px;
   }

   .pricing-cta button a {
     font-size: 1rem;
   }

   .plan-casual, .plan-pro, .plan-business {
     width: 28%;
   }

   #pricing-cell ul li {
     padding: 15px 0;
  }

  #pricing-cell .plan-business ul li {
    padding: 10px 0;
  }

  /*****************DASHBOARD****************/
  #side-nav img.header-logo {
    height: 25px;
  }

  .drives li a {
    font-size: .8rem;
  }

  #side-nav .drives h5 {
    font-size: 1rem;
  }

  #dash-content .content-main .content-cell {
    width: 200px;
    height: 200px;
  }

  #dash-content .content-main .content-cell, #dash-content .content-main .content-img, #dash-content .content-main .content-link, #dash-content .content-main .content-note {
    width: 200px;
    height: 200px;
  }

  #dash-content .content-cell .content-link h4 {
    max-width: 65%;
  }
}

@media (max-width: 992px) {
  .top-hp-link {
    display: none;
  }

  .hero-content {
    margin-left: 50%;
  }

  #feature-cell div:first-child, #feature-cell div:nth-child(2) ,#feature-cell div:nth-child(3) {
    padding: 50px 10px 30px;
  }

  .testimonials-meet {
    display: block;
    height: auto;
  }

  .testimonials-left {
    background-size: cover;
    display: block;
    width: 100%;
  }

  .testimonials-spacer {
    display: none;
  }

  .testimonials-right {
    background-size: cover;
    display: block;
    width: 100%;
  }


  .testimonials-quote {
    margin-top: 0;
    height: auto;
    position: relative;
    top: 300px;
    display: block;
  }

  #pricing-cell {
    display: block;
  }

  /*****************DASHBOARD****************/
  #side-nav img.header-logo {
    height: 15px;
  }

  .drives li a {
    font-size: .8rem;
  }

  #side-nav .drives h5 {
    font-size: .9rem;
  }

  #side-nav .dropdown button img {
    height: 25px;
  }

  #side-nav .dropdown button a {
    font-size: .7rem;
  }

  #side-nav .dropdown button i{
    font-size: .8rem;
    padding-left: 5px;
  }

  #dash-content .add-dropdown .dropdown-content a {
    font-size: .8rem;
  }

  #dash-content .content-main .content-cell {
    width: 125px;
    height: 125px;
    margin: 10px 0 0 10px;
  }

  #dash-content .content-main .content-cell, #dash-content .content-main .content-img, #dash-content .content-main .content-link, #dash-content .content-main .content-note {
    width: 125px;
    height: 125px;
  }

  #dash-content .content-cell .content-link h4 {
    max-width: 70%;
    font-size: .8rem;
    padding-top: 10px;
  }

  #dash-content .content-cell .content-link h6 {
    font-size: .6rem;
    padding: 5px;
  }

  #dash-content .content-cell .content-link img {
    padding: 5px 2px 0 5px;
  }

  #dash-content .content-cell .content-note h4 {
    font-size: .8rem;
    padding: 5px;
  }

}

@media (max-width: 768px) {

.nomobile {
  display: none;
}


  .header-logo {
    height: 16px;
  }

  nav .top-nav-btn a {
    padding: 2px 15px;
    font-size: .8rem;
  }

  nav ul {
    padding-top: 0;
  }

  nav li {
    padding: 0 5px;
  }

  .hero-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5%
  }

  .hero-content h1, .hero-content h3 {
    margin: 0 auto;
  }

  .hero-content button {
    padding: 10px 40px;
  }

.hero-content button a {
  font-size: 1rem;
}

  #hero-cell {
    height: 480px;
  }

  #feature-cell h2, #feature-cell h3 {
    text-align: center !important;
  }

  #feature-cell h3 {
    color: #999999;
    padding-top: 10px;
  }

  #feature-cell div {
    background-image: none !important;
    padding: 30px !important;
    border: 1px solid #cdcdcd;
  }

  #feature-cell h2, #feature-cell h3 {
    margin: 0 auto !important;
  }

  .testimonials-quote {
    padding: 25px;
    position: relative !important;
    top: 250px;
  }

  .testimonials-meet h4 {
    font-size: 1.2rem;
    padding-bottom: 5px;
  }

  #pricing-cell h4, #pricing-cell h5 {
    width: 80%;
    margin: 0 auto;
  }

  #pricing-cell p {
    width: 70%;
    margin: 0 auto;
    font-size: .8rem;
  }

  #pricing-cell .pricing-plans h4 {
    width: 100%;
  }

  .plan-casual, .plan-pro, .plan-business {
    display: block;
    width: 80%;
    margin:0 auto 10px;
  }

  footer {
    height: auto;
    padding-bottom: 20px;
  }

  footer .footer-logo {
    display: block;
    position: inherit;
    padding: 15px 20px 0;
  }

  footer .footer-logo img {
    height:15px;
  }

  footer p {
    font-size: .8rem;
  }

  .copyright p {
    font-size: .7rem;
  }

  /******** DASHBOARD **************/

  #side-nav {
    display: none;
    height: 44%;
    width: 280px;
    color: #00cc99;
    background-color: #3d3d3d;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0); /** Firefox **/
  }

  #side-nav.open {
    display: block;
    width:280px;
    background: #3d3d3d;
    background-color: #3d3d3d;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 100;
  }

  .hamburger {
    display: block;
    position:absolute;
    z-index: 1000;
    background:#3d3d3d;
    color:#00cc99;
    text-decoration: none;
    font-size: 1rem;;
    padding: 10px 14px 8px 14px;
    margin: 10px 0 0 10px;
  }

  #side-nav .dropdown button, .dropdown-content {
    width: 280px;
  }

  .dropdown-content {
    bottom: 45px;
  }

  #side-nav .header-logo {
    margin-left: 70px;
  }


  #dash-content {
    margin-left: 0;
    position: relative;
    top: 45px;
  }

  #dash-content .dash-search-add {
    padding: 10px 10px;
  }

  #dash-content .dash-search-add input {
    width: 70%;
  }

  #dash-content .dash-search {
    max-width: 70%;
    margin: 0;
  }

  #dash-content .add-dropdown {
    width: 22%;
  }

  .dropit .dropit-open .dropit-submenu {
    left: -22px;
    border-top: 1px solid #cdcdcd;
  }

  #dash-content .content-sort {
    padding: 10px;
  }

  #dash-content .content-main {
    padding:0;
    text-align: center;
  }

  #dash-content .content-main .content-cell {
    width:45%;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
  }

#dash-content .content-main .content-img, #dash-content .content-main .content-note, #dash-content .content-main .content-link {
  width: 100%;
  height: 100%;
  background-size: cover;
}

 }
